/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .acf-basic-uploader{
     padding: 0px!important;
 }
 .uploud_worpper{
    background: #E4E8EA!important;
    background-color: rgb(228, 232, 234) !important;
   height: 60px;
   width: 100%;
    border-radius: 15px!important;
    font-size: 1.125rem!important;
 } 
 .one .one_item:after{
content: ",";

 }
 .one .one_item:last-child:after{
    content: ''!important;
     }
.one .one_item{
         padding-right: 10px;
     } 
     .one .one_item:first-child{
        padding-right: 0px;
    } 
 .fild_title{
     font-weight: 500;
 }
 .acf-row-handle{
     background-color: transparent!important;
 }
.tufes_menu .activ_menu{
     background-color: #0780BD!important;
 }
 .tufes_menu .menu-item .elementor-item{
     cursor: none!important;
 }
 .tufes_menu .menu-item.activ_menu .elementor-item{
    cursor: pointer!important;
    
}
.tufes_menu .menu-item.activ_menu .elementor-item::before{

content:'\f058';
font-family: FontAwesome;
color: #e6af10;
font-size: 26px;
vertical-align: middle;
margin-top: -3px;
}
.tufes_menu .activ_menu:before{
    content: "";
    position: absolute;
    left: -28px;
    top: 0;
    width: 0;
    height: 100%;
	
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    z-index: 3;
    border-right: 28px solid #0780BD!important;

}
.tufes_menu .menu-item:before , .tufes_menu .activ_menu:before{
	content: "";
    position: absolute;
    left: -28px;
    top: 0;
    width: 0;
    height: 100%;
	
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 28px solid #e6af10;
    z-index: 3;
}
.tufes_menu .menu-item{
    padding-right: 30px;
}
.tufes_menu .menu-item:after{
	content: "";
    position: absolute;
    left: -32px;
    top: 0px;
    width: 0;
    height: 100%;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 28px solid #fff;
    z-index: 2;
}
 .child_birthday , .child_name{
     width: 50%!important;
 }
 .mosad .acf-field{
     width: 50%!important;
 }
 .files_upload:not(.childern) tbody{
     width: 100%;
 }
 .files_upload .acf-field-file{
    width: 100%;
}
 .child_birthday .acf-date-picker:before{
content: "תאריך לידה";
position: absolute;
top: 20px;
right: 20px;
font-weight: 400;
font-size: 1.125rem!important;
color: #000;
 }
 .acf-repeater > table {
    background: transparent!important;
}
 .set_tabole .acf-field-text{
width: 50%!important;
 }
 .no_add .acf-actions ,  .no_add .acf-row-handle.remove{
     display: none!important;
 }
 .acf-row-handle.order a{
     display: none!important;
 }
 .-plus {
    display: none!important;
}
.acf-table  tr:first-child .remove .-minus {
    display: none!important;
}
 .acf-form-submit .hidden{
     display: none;
 }
 .acf-field .acf-notice.-error {
    background: #ffe6e6;
    color: #d12626;
    position: absolute;
    top: -100%;
    border-radius: 5px;
}
.acf-spinner {
    background-image: url(http://moneyback.tempurl.co.il/wp-content/uploads/2018/12/loading.gif)!important;
    background-size: 20px 20px;
}
.worrper_new_input select, .worrper_new_input input , .worrper_new_input textarea{
    width: 100%;
        outline-width: 0;
}
.rtl .worrper_new_input.side .label{
    margin-left: 15px;
    margin-right: 0px;
}
.worrper_new_input.side .label{
    margin-left: 0px;
    margin-right: 15px;
}
.worrper_new_input.side .filed{
    flex-grow: 1;
}
 .worrper_new_input.side{
    display: flex;
} 
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .as_button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
.worrper_new_input.checkbox input:checked + span {

    background-color: red;
  }
  .worrper_new_input.checkbox input + span:hover{
    background-color: red;
  }
  .worrper_new_input.checkbox input + span{
   display: block;
  }
.worrper_new_input.checkbox .icon_label{
    visibility: hidden;
}
.worrper_new_input.checkbox input[type='checkbox'],.worrper_new_input.checkbox input[type='radio'] {
    visibility: hidden;
  }
.worrper_new_input.checkbox input:checked ~ span .icon_label{
    visibility: visible;
  }
  
input:checked + .as_button {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
